<footer class="footer">
    <div class="container">
        <p>&copy; 2025 N.Sai Vineeth. All Rights Reserved.</p>
        <div class="social-links">
            <a href="#">LinkedIn</a> | 
            <a href="#">GitHub</a> | 
            <a href="#">Twitter</a>
        </div>
    </div>
</footer>