<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    
    <main class="container">
        <h2>Resume & References</h2>
        
        <div class="resume-download">
            <a href="#" class="download-btn">Download PDF Resume</a>
        </div>
        
       
    </main>
    
    <%- include('partials/footer') %>
</body>
</html>