<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>
    
    <main class="container">
        <h2>Volunteering and Extra-Curricular Activities</h2>
        
        <div class="achievement-item">
            <h3>Volunteered in Hackathon Organizing</h3>
            <p>I voluneered to help coding clubs in college held conduct hackathons for students on multiple occasions showcasing my Teamwork ,Leadership and Management skills.</p>
        </div>
        
        <div class="achievement-item">
            <h3>Community Serice Volunteering</h3>
            <p>Actively participated in social outreach and volunteer programs, contributing to community welfare and developing strong leadership qualities.</p>
        </div>
        
        <div class="achievement-item">
            <h3>Played Table tennis</h3>
            <p>Played a few table tennis tournaments in my college.</p>
        </div>
        
    </main>
    
    <%- include('partials/footer') %>
</body>
</html>